/* ==========================================================================
   my custom styles
   ========================================================================== */

/* imports */

// mixins
// animation keyframes
@import "mixins";

// animation keyframes
@import "keyframes";

// bouncingBubbles
@import "bouncingbubbles";

/* /imports */

/* helper styles */

.visually-hidden {
    @include visually-hidden;
}

.relative-container {
    position: relative;
}

/* /helper styles */

/* variables styles */

// color variables

$dark: #000;
$light: #fff;

$opacity: 0.5;

// /color variables

/* /variables styles */

/* general page styles */

html {
	background-color: $light;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	color: rgb(245, 245, 245);
	overflow: hidden;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #bbb;

	&:hover {
		text-decoration: underline;
	}
}

hgroup {
	position: absolute;
	top: 25px;
	left: 30px;
	color: #eee;
	-webkit-text-fill-color: rgba(255,255,255,0.3);
	-webkit-text-stroke-color: rgba(100,100,100,0.5);
	-webkit-text-stroke-width: 1px;
}

.title,
.attribution {
	margin: 0;
}

.title {
	font-size: 2.8em;
}

.attribution {
	font-size: 1.8em;
	display: inline-block;
}

.title-object,
.attribution-object {
	position: absolute;
	z-index: -1;
	// opacity: 0.5;
	// background-color: yellow;
}

.title-object {
	width: 375px;
	height: 35px;
	top: 10px;
}

.attribution-object {
	width: 125px;
	height: 25px;
	left: 40px;
	top: 60px;
}

/* dev */



/* /dev */

/* /general page styles */

/* responsive media queries */

@media (min-width: 1025px) { /* if larger than typical tablet display, aka desktop styles */



}

@media (max-width: 480px) { /* if smaller or equal to typical phone display, aka phone styles */



}